[user]
  email = vincent.aceto@gmail.com
  name = vinnyA3
[core]
# env var set dynamically by script in './local/bin'
  editor = "$EDITOR"
[diff]
  tool = nvimdiff
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[alias]
  vimdiff = difftool
