[user]
	email = vincent.aceto@gmail.com
	name = vinnyA3
[core]
  # this path will vary on diff systems, find the nvim bin path with: 'which nvim'
	editor = /Users/vincent.aceto/.local/bin/nvim # work machine - mac
  # editor = /home/linuxbrew/.linuxbrew/bin/nvim
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
