# Config
# check sub dir config/.config
config/.config/*
!config/.config/dunst/
!config/.config/ranger/
!config/.config/qutebrowser/

#
# Vim
vim/.vim/*
!vim/.vim/autoload/*
!vim/.vim/vimrc/snippets/*
!vim/.vim/vimrc

scripts/bin/xmonad
scripts/bin/st
scripts/bin/dwm
scripts/bin/dmenu
scripts/bin/dmenu_run
scripts/bin/dmenu_path
scripts/bin/stest
# Nvm
nvm/*
!nvm/.nvmrc

# Tmux
tmux/.tmux/plugins/*

# Xmonad
xmonad/.xmonad/*
!/xmonad/.xmonad/xmonad.hs

TODO.md
