# Config
# check sub dir config/.config
config/.config/*
#
# Vim
vim/.vim/*
!vim/.vim/autoload/*
!vim/.vim/vimrc/snippets/*
!vim/.vim/vimrc


# Nvm
nvm/*
!nvm/.nvmrc

# Tmux
tmux/.tmux/plugins/*

# Xmonad
xmonad/.xmonad/*
!/xmonad/.xmonad/xmonad.hs

TODO.md
