[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/tmuxline.vim"]
	path = bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "bundle/promptline.vim"]
	path = bundle/promptline.vim
	url = https://github.com/edkolev/promptline.vim
