# Config
config/*
!config/alacritty
!config/xmobar
!config/neofetch
!config/ranger
!config/cava
!config/qutebrowser/config.py

# Vim
vim/.netrwhist

# Nvm
nvm/*
!nvm/.nvmrc

# Tmux
tmux/plugins/*

# Xmonad
xmonad/*
