
.alternativeSelectWrapper {
    display: inline-block;
}

.alternativeSelectClicker {
    display: inline-block;
    cursor: pointer;
}

.alternativeSelectOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.alternativeSelectContainer {
    position: absolute;
    background-color: white;
    color: black;
    cursor: pointer;
}

.alternativeSelectOption {
    display: flex;
    align-items: center;
}

.alternativeSelectLabel {
    font-size: 12px;
}

.alternativeSelectOption:hover {
    background-color: #99AFBD;
}

.alternativeSelectSelected {
    background-color: lightgray;
    color: white;
}

/* Options account switcher style */

.optionsAccountSelector.alternativeSelectWrapper:after {
    content: "\a0";
    width: 7px;
    background: url(../images/options-account-chevron.svg) no-repeat center center;
    display: inline-block;
}

.optionsAccountSelector .alternativeSelectClicker {
    font-family: GothamMedium, sans-serif;
    color: white;
    font-size: 12px;
    background: none;
    border: 0;
    padding: 1px 4px;
    margin: 0;
    width: auto;
    -moz-appearance: none;
}

.optionsAccountSelector.alternativeSelectContainer:before {
    border-right: 5px solid transparent;
    border-bottom: 6px solid #BBCBD5;
    border-left: 5px solid transparent;
    content: "";
    left: 27px;
    position: absolute;
    top: -6px;
}

.optionsAccountSelector.alternativeSelectContainer {
    border-radius: 2px;
    background-color: #bccdd5;
}

.optionsAccountSelector .alternativeSelectOption:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.optionsAccountSelector .alternativeSelectOption:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.optionsAccountSelector .alternativeSelectOption {
    height: 24px;
    padding: 0 80px 0 16px;
    font-family: GothamMedium, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #393d41;
}

.optionsAccountSelector .alternativeSelectOption:hover {
    background-color: #99AFBD;
}

.optionsAccountSelector .alternativeSelectSelected {
    color: white;
    background-color: #4da4e5;
    background-image: url(../images/account-selector-check-mark.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 19px) center;
}
