/* Clearly */
#evernoteClearlyArticle {
    background: none !important;
    border: none !important;
    bottom: auto !important;
    box-shadow: none !important;
    box-sizing: content-box !important;
    display: block !important;
    height: 100% !important;
    left: 0 !important;
    margin: 0 !important;
    max-height: none !important;
    min-height: 100% !important;
    max-width: none !important;
    min-width: 0 !important;
    opacity: 1 !important;
    outline: invert none medium !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    padding: 0 !important;
    position: fixed !important;
    resize: none !important;
    right: auto !important;
    top: 0 !important;
    vertical-align: baseline !important;
    visibility: visible !important;
    animation-duration: 0 !important;
    transition: width 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    width: 0 !important;
    z-index: 2147483646 !important;
}

#evernoteClearlyArticle.evernoteClipperVisible {
    width: 100% !important;
}

html.clearlyBeforeVisible, body.clearlyBeforeVisible {
    border: 0 !important;
    margin: 0 !important;

    padding: 0 !important;
    position: static !important;
}

html.clearlyBeforeVisible object, html.clearlyBeforeVisible embed,
html.clearlyBeforeVisible iframe:not(#evernoteGlobalTools):not(#evernoteOptionsPage):not(#evernoteClearlyArticle):not(#evernoteClearlyCustom),
body.clearlyBeforeVisible object, body.clearlyBeforeVisible embed,
body.clearlyBeforeVisible iframe:not(#evernoteGlobalTools):not(#evernoteOptionsPage):not(#evernoteClearlyArticle):not(#evernoteClearlyCustom) {
    visibility: hidden !important;
}

/* clearly custom */
#evernoteClearlyCustom {
    background: none !important;
    border: none !important;
    bottom: auto !important;
    box-shadow: none !important;
    box-sizing: content-box !important;
    display: block !important;
    height: 100% !important;
    max-height: none !important;
    min-height: 100% !important;
    min-width: 0 !important;
    opacity: 1 !important;
    outline: invert none medium !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    padding: 0 !important;
    position: fixed !important;
    resize: none !important;
    right: auto !important;
    top: 0 !important;
    vertical-align: top !important;
    visibility: visible !important;
    animation-duration: 0 !important;
    transition-duration: 0 !important;
    z-index: 2147483646 !important;

    width: 70% !important;
    max-width: 980px !important;
    margin: 0 auto 0 auto !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

#evernoteClearlyCustom.evernoteClipperHidden {
    display: none !important;
}

/* URL preview */
.evernotePreviewContainer {
    padding: 10px !important;
    z-index: 2147483646 !important;
    direction: ltr !important;
}

.evernotePreviewUrlContainer {
    border: 1px solid #9E9E9E !important;
    box-sizing: content-box !important;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    max-width: 542px !important;
    max-height: 224px;
    direction: ltr !important;
    padding: 15px !important;
    background: white !important;
    box-shadow: 0 2px 12px 0px rgba(0, 0, 0, 0.45) !important;
}

/* Gmail preview */
#evernoteEmailPreview {
    background-color: white !important;
    border-top: none !important;
    border-right: 1px solid #9E9E9E !important;
    border-bottom: none !important;
    border-left: 1px solid #9E9E9E !important;
    box-sizing: content-box !important;
    height: calc(100% - 76px) !important;
    left: calc(15% - 26px) !important;
    min-width: 402px !important;
    overflow-y: auto;
    padding: 38px 48px !important;
    position: fixed !important;
    top: 0 !important;
    width: calc(70% - 202px) !important;
    z-index: 2147483646 !important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.45) !important;
}

#evernoteEmailPreview .evernoteEmailHeader, #evernoteEmailPreview .evernoteEmailDimmed, #evernoteEmailPreview .evernoteEmailAttachments {
    font-family: Helvetica, Arial, sans-serif !important;
}

#evernoteEmailPreview .evernoteEmailHeader {
    color: #333333 !important;
    font-weight: bold !important;
}

#evernoteEmailPreview .evernoteEmailBig {
    font-size: 15px !important;
}

#evernoteEmailPreview .evernoteEmailMedium {
    font-size: 14px !important;
}

#evernoteEmailPreview .evernoteEmailSmall {
    font-size: 12px !important;
}

#evernoteEmailPreview .evernoteEmailRight {
    float: right !important;
}

#evernoteEmailPreview .evernoteEmailDimmed {
    color: #888888 !important;
}

#evernoteEmailPreview .evernoteEmailDivider {
    height: 1px !important;
}

#evernoteEmailPreview .evernoteEmailLight {
    background-color: #E9E9E9 !important;
}

#evernoteEmailPreview .evernoteEmailDark {
    background-color: #B3B3B3 !important;
}

#evernoteEmailPreview .evernoteEmailLong {
    left: -48px !important;
    position: relative !important;
    width: calc(100% + 96px) !important;
}

#evernoteEmailPreview .evernoteEmailShort {
    width: 100% !important;
}

#evernoteEmailParticipants {
    margin: 16px 0 29px 0 !important;
}

#evernoteEmailLinkBack {
    display: block;
    margin: 22px 0 8px 0 !important;
    position: relative !important;
    text-decoration: none !important;
}

#evernoteEmailLinkBackArrow {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAAAr0lEQVQoU2NkwAKMjY35gcLTzp49G41NHlmMEV2BgYGBNRMT0xJGRkYFoAEY8ujqkRWwGBoa1gI1VwMVMYMUEm2Arq6uEisr62KgrVbINhBlgJGRUQxQ41SgRj5C/sUmzwh0dhzQ2ZPJNgBkKtQLS4EusSDWC8CY+g9SixKIQME6oFgVMYGIzQCw5UAJm////4OiUR5fIOI0AGoIP9CQGefOnYvEFbB4DSAmNmAGAABi7TE0OfL+0wAAAABJRU5ErkJggg==) !important;
    background-repeat: no-repeat !important;
    background-size: 16px 11px !important;
    display: inline-block;
    height: 11px !important;
    margin-right: 12px;
    width: 16px !important;
}

#evernoteEmailSelectAllMessages {
    margin: 22px 0 8px 0 !important;
    position: relative !important;
}

#evernoteEmailPreview .evernoteEmail {
    margin: 24px 0 !important;
    position: relative !important;
}

#evernoteEmailPreview .evernoteEmailCheckbox {
    border: 1px solid #5CC18A !important;
    border-radius: 3px !important;
    cursor: pointer !important;
    height: 16px !important;
    position: absolute !important;
    top: 0 !important;
    left: -30px !important;
    width: 16px !important;
}

#evernoteEmailPreview .evernoteEmailSelectedMessage .evernoteEmailCheckbox {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/gmail_msg_selected.png),
     
    url(../images/gmail_msg_selected.png) !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: 11px 9px !important;
}

#evernoteEmailPreview .evernoteEmailBody {
    /* the color and font properties are gmail's default display for style-less text. don't override since most text will have styling */
    color: #222;
    display: none !important;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin-top: 24px !important;
}

#evernoteEmailPreview .evernoteEmail.evernoteEmailSelectedMessage .evernoteEmailBody {
    display: block !important;
}

#evernoteEmailPreview .evernoteEmailAttachments {
    display: none !important;
    padding: 20px 0 0 40px !important;
}

#evernoteEmailPreview .evernoteEmail.evernoteEmailSelectedMessage .evernoteEmailAttachments {
    display: block !important;
}

#evernoteEmailPreview .evernoteEmailAttachments .evernoteEmailSize {
    margin-left: 10px !important;
}

.evernoteLargeLoading {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/loading.gif),
     
    url(../images/loading.gif);
    background-size: 118px 117px;
    height: 117px;
    left: calc(50% - 59px);
    position: absolute;
    top: calc(50% - 58px);
    width: 118px;
}

/* General preview stuff */
#evernoteContentVeil {
    border-color: rgba(255, 255, 255, 0.75) !important;
    border-style: solid !important;
    box-sizing: border-box !important;
    left: 0 !important;
    pointer-events: none;
    position: absolute !important;
    top: 0 !important;
    z-index: 2147483646 !important;
}

#evernoteContentVeil.fixed {
    position: fixed !important;
}

#evernoteContentVeil.blocking {
    pointer-events: auto;
}

/* Article and full page preview */
#evernoteInnerBox {
    border: 4px solid #32E181 !important;
    box-sizing: border-box !important;
    height: 100% !important;
}

#evernoteInnerBox.evernoteShadowBox {
    border: 1px solid #9E9E9E !important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.45) !important;
}

#evernotePageCounter {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #3D4A54;
    border-radius: 2px;
    color: #3D4A54;
    font-family: "GothamBold", Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    position: absolute;
    top: -48px;
}

#evernotePageCounter:empty {
    display: none;
}

/* expand/contract button container */
.evernoteExpandContract {
    display: none;
    left: calc(50% - 27px);
    position: absolute !important;
    top: -12px;
}

#bottomExpandContract {
    bottom: -12px;
    top: auto;
}

.error-block {
    color: #555555;
    font-size: 24px;
    font-family: GothamMedium, Helvetica, Arial, sans-serif;;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
}

.evernoteExpandContract.evernoteUsingExpandContract {
    display: block;
}

/* individual buttons */
.evernoteArticleExpand, .evernoteArticleContract {
    background-color: #2F373D !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    pointer-events: auto;
    position: relative;
    width: 27px;
}

.evernoteArticleExpand {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/article-expand.png),
     
    url(../images/article-expand.png) !important;
    background-size: 14px 15px !important;
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.evernoteArticleContract {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/article-contract.png),
     
    url(../images/article-contract.png) !important;
    background-size: 14px 5px !important;
    border-left: none;
    border-radius: 0 4px 4px 0;
}

/* tooltips */
.evernoteArticleExpand:before, .evernoteArticleExpand:after,
.evernoteArticleContract:before, .evernoteArticleContract:after {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: right 100ms cubic-bezier(0.25, 0.5, 0.5, 0.9), opacity 100ms cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.evernoteArticleExpand:before, .evernoteArticleContract:before {
    background-color: #ECECEC;
    border: 1px solid #F4F4F4;
    border-radius: 2px;
    color: #707070;
    content: attr(tooltip);
    display: inline-block;
    font-family: "GothamMedium", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    height: 26px;
    line-height: 26px;
    padding: 0 6px;
    right: 68px;
    text-shadow: 0 1px #FFFFFF;
    top: -2px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    z-index: 1;
}

.evernoteArticleExpand:after, .evernoteArticleContract:after {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/tooltip_arrow.png),
     
    url(../images/tooltip_arrow.png);
    background-repeat: no-repeat;
    background-size: 10px 18px;
    background-position: 0 0;
    content: "";
    height: 18px;
    right: 58px;
    top: 5px;
    width: 10px;
    z-index: 1;
}

.evernoteArticleExpand.tooltipon:before, .evernoteArticleExpand.tooltipon:after,
.evernoteArticleContract.tooltipon:before, .evernoteArticleContract.tooltipon:after {
    opacity: 1;
}

.evernoteArticleExpand.tooltipon:before, .evernoteArticleContract.tooltipon:before {
    right: 28px;
}

.evernoteArticleExpand.tooltipon:after, .evernoteArticleContract.tooltipon:after {
    right: 18px;
}

/* skitch preview */
#evernoteClipperCrosshair:before, #evernoteClipperCrosshair:after {
    border: none !important;
    content: "" !important;
    height: 100% !important;
    position: absolute !important;
    width: 100% !important;
}

#evernoteClipperCrosshair:before {
    border-right: 1px solid white !important;
    border-bottom: 1px solid white !important;
    left: -100% !important;
    top: -100% !important;
}

#evernoteClipperCrosshair:after {
    border-top: 1px solid white !important;
    border-left: 1px solid white !important;
    left: 0 !important;
    top: 0 !important;
}

#evernoteClipperCrosshair {
    height: 100% !important;
    position: fixed !important;
    width: 100% !important;
    z-index: 2147483646 !important;
}

#evernoteClipperCrosshairToast {
    background: none !important;
    border: none !important;
    bottom: auto !important;
    box-shadow: none !important;
    box-sizing: content-box !important;
    display: block !important;
    height: 113px !important;
    left: calc(50% - 200px);
    margin: 0 !important;
    max-height: none !important;
    min-height: 0 !important;
    max-width: none !important;
    min-width: 0 !important;
    opacity: 1 !important;
    outline: invert none medium !important;
    padding: 0 !important;
    position: fixed !important;
    resize: none !important;
    right: auto !important;
    top: calc(50% - 56.5px);
    vertical-align: baseline !important;
    visibility: visible !important;
    width: 400px !important;
    z-index: 2147483646 !important;
    animation-duration: 0 !important;
    transition: opacity 250ms linear;
    user-select: none !important;
}

#evernoteClipperCrosshairToast.evernoteClipperHidden {
    opacity: 0 !important;
}

@media screen and (min-resolution: 0dppx), screen and (-webkit-min-device-pixel-ratio: 0) {
    #evernoteEmailPreview .evernoteEmailSelectedMessage .evernoteEmailCheckbox {
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/gmail_msg_selected.png),
         
        url(../images/gmail_msg_selected.png) !important;
    }

    .evernoteLargeLoading {
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/loading.gif),
         
        url(../images/loading.gif);
    }

    .evernoteArticleExpand {
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/article-expand.png),
         
        url(../images/article-expand.png) !important;
    }

    .evernoteArticleContract {
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/article-contract.png),
         
        url(../images/article-contract.png) !important;
    }

    .evernoteArticleExpand:after, .evernoteArticleContract:after {
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/tooltip_arrow.png),
         
        url(../images/tooltip_arrow.png);
    }
}

@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5) {
    #evernoteEmailLinkBackArrow {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAWCAYAAAChWZ5EAAABI0lEQVRIS81WSw6CMBC1yFbjCWThBfgk6kK9hrrRa+hK7+BC96C3gSvVVwNJI7YwDS2SNLCYefNm+voKGxCfMAwnnufdi6LYE1N/hjMKSBzHa8SnjLEgz3NSrqpOWxA/SZILQM5YQwHmjAAKzzjnGbpeyl04IRBF0QH7fUPh8fcIrRKohIaud6q9s0YAI1+VIw90ArVBoCY0ZwRUQqMcUdNYphOaKSglj6H7IxKE0keUxK5iP0YktgCvJ9aiK+C2OLIT+rDaK47eqXI7GyJEs1zGrVmx8HuQyBA07YWAKFoa0QNEtl0bUeME5II6gZoaEYmAJNAXvuddXEZkAmXRmkCdTUDuGqa1we2YCoH2QkAWKH7JlDel7vSYbkFbX2mM+zsCb7/GX2cmWjjJAAAAAElFTkSuQmCC) !important;
    }

    #evernoteEmailPreview .evernoteEmailSelectedMessage .evernoteEmailCheckbox {
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/gmail_msg_selected@2x.png),
         
        url(../images/gmail_msg_selected@2x.png) !important;
    }

    .evernoteLargeLoading {
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/loading@2x.gif),
         
        url(../images/loading@2x.png);
    }

    .evernoteArticleExpand {
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/article-expand@2x.png),
         
        url(../images/article-expand@2x.png) !important;
    }

    .evernoteArticleContract {
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/article-contract@2x.png),
         
        url(../images/article-contract@2x.png) !important;
    }

    .evernoteArticleExpand:after, .evernoteArticleContract:after {
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/tooltip_arrow@2x.png),
         
        url(../images/tooltip_arrow@2x.png);
    }
}

@media screen and(min-resolution: 1.5dppx), screen and(-webkit-min-device-pixel-ratio: 1.5) {
    #evernoteEmailPreview .evernoteEmailSelectedMessage .evernoteEmailCheckbox {
        background-image: url(../images/gmail_msg_selected@2x.png) !important;
    }

    .evernoteLargeLoading {
        background-image: url(../images/loading@2x.gif);
    }

    .evernoteArticleExpand {
        background-image: url(../images/article-expand@2x.png) !important;
    }

    .evernoteArticleContract {
        background-image: url(../images/article-contract@2x.png) !important;
    }

    .evernoteArticleExpand:after, .evernoteArticleContract:after {
        background-image: url(../images/tooltip_arrow@2x.png);
    }
}
