/**
 * LogViewer
 */
body.logs {
    width: auto;
    height: auto;
}

#logsHeader {
    position: fixed;
    background: #edf6f7;
    top: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid gray;
    line-height: 25px;
    box-shadow: 0px 1px 4px #ccc;
}

#logViewer {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    white-space: pre;
    margin-top: 40px;
    font-family: monospace;
    font-size: 8pt;
}

#logActions {
    display: inline-block;
    border: 1px solid #CDD6D7;
    padding: 0px 6px;
}

#logsStatus {
    display: inline-block;
    position: absolute;
    right: 14px;
    margin-top: -1px;
}

body.logs #spinner {
    margin-right: 12px;
}

body.logs #spinner img {
    margin-top: 3px;
    margin-bottom: -3px;
}