#evernoteSimSearchResults {
    border: none;
    border-radius: 5px;
    height: 0px;
    width: 456px;
    margin-bottom: 30px;
}

@keyframes simSearch {
    from {
        clip: rect(1px, auto, auto, auto);
    }
    to {
        clip: rect(0px, auto, auto, auto);
    }
}

#ires, #b_results, #content_left, .serp-list {
    animation-name: simSearch;
    animation-duration: 0.001s;
}
