# generate random wallpaper
function rand-wal {
    wallpaperDir=$HOME/Pictures/wallpaper
    local min=1
    local max=$(ls -1 $wallpaperDir | wc -l)
    feh --bg-scale $wallpaperDir/$(ls -1 $wallpaperDir | \
	    awk "NR==$(shuf -i $min-$max -n 1)")
}

