# generate random wallpaper
function rand-wal {
    wallpaperDir=$HOME/Pictures/wallpaper
    local min=1
    local max=$(ls -1 $wallpaperDir | wc -l)
    feh --bg-scale $wallpaperDir/$(ls -1 $wallpaperDir | \
	    awk "NR==$(shuf -i $min-$max -n 1)")
}

# get workspace snapshot, then add new jpg to screenshots dir
function workspace-snapshot {
  t=$(date +%T)

  "$(import -window root ~/Pictures/screenshots/screenshot-"$t".jpg)" \
      > /dev/null 2>&1;
}
