# generate random wallpaper
# function rand-wal {
#     wallpaperDir=$HOME/Pictures/wallpaper
#     local min=1
#     local max=$(ls -1 $wallpaperDir | wc -l)
#     feh --bg-scale $wallpaperDir/$(ls -1 $wallpaperDir | \
# 	    awk "NR==$(shuf -i $min-$max -n 1)")
# }

man() {
    LESS_TERMCAP_md=$'\e[01;31m' \
    LESS_TERMCAP_me=$'\e[0m' \
    LESS_TERMCAP_se=$'\e[0m' \
    LESS_TERMCAP_so=$'\e[01;44;33m' \
    LESS_TERMCAP_ue=$'\e[0m' \
    LESS_TERMCAP_us=$'\e[01;32m' \
    command man "$@"
}

function npm-do { (PATH=$(npm bin):$PATH; eval $@;) }
