.nbContainer {
    position: relative;
}

.nbSelected {
    background-image: url(../../images/notebook_global_tools.png), url(../../images/dropdown_down_icon.png);
    background-position: 0px 50%, 100% 50%;
    background-size: 24px 21px, 15px 10px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CaeciliaBold, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    max-width: 162px;
    overflow: hidden;
    padding: 0 24px 0 30px;
    text-overflow: ellipsis;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    white-space: nowrap;
}

.nbContainer.nbOpen .nbSelected {
    background-image: url(../../images/notebook_global_tools.png), url(../../images/dropdown_up_icon.png);
}

.nbSelected.nbSelectedBusiness {
    background-image: url(../../images/notebook_business_global_tools.png), url(../../images/dropdown_down_icon.png);
}

.nbContainer.nbOpen .nbSelected.nbSelectedBusiness {
    background-image: url(../../images/notebook_business_global_tools.png), url(../../images/dropdown_up_icon.png);
}

.nbSelected.nbSelectedLinked {
    background-image: url(../../images/notebook_linked_global_tools.png), url(../../images/dropdown_down_icon.png);
}

.nbContainer.nbOpen .nbSelected.nbSelectedLinked {
    background-image: url(../../images/notebook_linked_global_tools.png), url(../../images/dropdown_up_icon.png);
}

.nbSelected.nbLoading {
    background-image: url(../../images/notebook_loading.gif), url(../../images/dropdown_down_icon.png);
    background-position: 2px 50%, 100% 50%;
    background-size: 15px, 15px 10px;
    min-height: 15px;
}

.nbContainer.nbOpen .nbSelected.nbLoading {
    background-image: url(../../images/notebook_loading.gif), url(../../images/dropdown_up_icon.png);
}

.nbDropdown {
    background-color: #BBCBD5;
    border-radius: 2px;
    display: none;
    left: -19px;
    position: absolute;
    top: 30px;
    width: 254px;
    z-index: 1;
}

.nbDropdown:before {
    border-right: 5px solid transparent;
    border-bottom: 6px solid #BBCBD5;
    border-left: 5px solid transparent;
    content: "";
    left: 25px;
    position: absolute;
    top: -6px;
}

.nbContainer.nbOpen .nbDropdown {
    display: block;
}

.nbSearchInput {
    background-color: #E3EDF3;
    background-image: url(../../images/search.png);
    background-position: 7px 50%;
    background-size: 15px 16px;
    border: none;
    border-radius: 11px;
    color: #2F373D;
    font-family: GothamMedium, Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    margin: 10px 18px 8px 18px;
    outline: none;
    padding: 0 0 0 31px;
    width: 218px;
}

.nbRefreshNotebooksInfoBlock {
    margin: 8px 18px;
    color: #6f7f88;
    font-size: 10px;
    font-family: CaeciliaRoman, Helvetica, Arial, sans-serif;
}

.nbGlobalErrorBlock {
    color: #ff637b;
    font-size: 12px;
    font-family: CaeciliaItalic, Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.nbGlobalErrorBlock.hide {
    display: none;
}

.globalErrorBlockInfo {
    cursor: pointer;
    background-image: url(../../images/refreshNotebooksListLittle.svg);
    margin-left: 10px;
    padding-left: 20px;
    background-position: 0px 2px;
}

.notebooksErrorBlock {
    margin: 8px 27px;
    margin-top: 0px;
    color: #ff637b;
    font-size: 10px;
    font-family: CaeciliaItalic, Helvetica, Arial, sans-serif;
}

.notebooksErrorBlock.hide {
    display: none;
}

.nbRefreshNotebooksInfoBlockIcon {
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 0 5px;
    background-size: cover;
}

.nbRefreshNotebooksInfoBlockIcon.useSvg {
    background-image: url(../../images/refreshNotebooksListLittle.svg);
}

.nbRefreshNotebooksLine {
    margin-bottom: 8px;
    border: none;
    border-top: solid 1px #71818a;
    opacity: 0.5;
}

.nbRefreshNotebooksInfo {
    margin-left: 8px;
}

.nbRefreshNotebooksRefresh {
    margin-right: 15px;
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
    font-family: "CaeciliaRoman";
}

.nbAddNotebookBlock {
    margin: 0px 18px 10px;
    font-family: "GothamBook";
}

.nbCreateNewNotebookInput {
    width: 100%;
    height: 24px;
    padding-left: 31px;
    border: none;
    box-sizing: border-box;
    background-size: 18px;
    background: none no-repeat 7px center;
    font-size: 12px;
    color: #6f7f88;
}

.nbCreateNewNotebookInput.useSvg {
    background-image: url(../../images/createNewNotebook.svg);
}

.nbCreateNewNotebookInput:hover {
    cursor: pointer;
}

.nbCreateNewNotebookInput:focus {
    cursor: text;
    outline: none;
}

.nbCreateNewNotebookInput::-webkit-input-placeholder,
.nbCreateNewNotebookInput::-moz-placeholder {
    color: #6f7f88;
}

.nbCreateNewNotebookButtons {
    margin-top: 10px;
}

.nbCreateNewNotebookButtons button {
    height: 28px;
    width: 105px;
    display: inline-block;
    border: none;
    border-radius: 1px;
    font-size: 11px;
    cursor: pointer;
}

.nbCreateNewNotebookElementsBlock {
    margin-top: 10px;
}

.nbCreateNewNotebookElementsBlock.hide {
    display: none;
}

.nbCreateNewNotebookCreateButton {
    background-color: #18b161;
    color: #FFF;
    float: right;
}

.nbCreateNewNotebookCreateButton:disabled {
    background-color: #e3edf3;
    color: #6f7f88;
    cursor: default;
}

.nbCreateNewNotebookCancelButton {
    background-color: #e3edf3;
    color: #6f7f88;
}

.nbInputFocuser {
    left: -10px;
    position: fixed;
    top: -10px;
}

.nbList {
    overflow-y: auto;
    max-height: 294px;
}

.nbList.nbSearchOn .nbStack h3 {
    display: none;
}

.nbNotebook, .nbStack h3, .nbList.nbSearchOn .nbStack .nbNotebook {
    background-position: 21px 50%;
    background-size: 22px;
    box-sizing: border-box;
    color: #2F373D;
    font-family: GothamMedium, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    overflow: hidden;
    padding: 0 5px 0 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nbNotebook.nbBusinessNotebook, .nbNotebook.nbBusinessNotebook.nbSelectedNotebook {
    padding: 0 5px 0 30px;
}

.nbNotebook.nbHover {
    background-color: #99AFBD;
    cursor: pointer;
}

.nbNotebook.nbSelectedNotebook, .nbList.nbSearchOn .nbStack .nbNotebook.nbSelectedNotebook {
    background-color: #4CA4E6;
    background-image: url(../../images/notebook_checkmark.png);
    background-position: calc(100% - 5px) 50%;
    background-size: 13px 11px;
    padding: 0 18px 0 50px;
    color: white;
}

.nbNotebook.nbLinkedNotebook {
    background-image: url(../../images/linked.png);
    background-size: 22px;
}

.nbNotebook.nbLinkedNotebook.nbSelectedNotebook, .nbList.nbSearchOn .nbStack .nbNotebook.nbLinkedNotebook.nbSelectedNotebook {
    background-image: url(../../images/linked_selected.png), url(../../images/notebook_checkmark.png);
    background-position: 21px 50%, calc(100% - 5px) 50%;
    background-size: 22px, 13px 11px;
}

.nbNotebook.nbBusinessNotebook.nbSelectedNotebook, .nbList.nbSearchOn .nbStack .nbNotebook.nbBusinessNotebook.nbSelectedNotebook {
    background-image: url(../../images/notebook_checkmark.png);
    background-position: calc(100% - 5px) 50%;
    background-size: 13px 11px;
}

.nbHidden {
    display: none;
}

.nbNotebookOwner {
    color: #53626E;
    font-size: 11px;
}

.nbStack h3 {
    background-image: url(../../images/stack.png);
    cursor: default;
    margin: 0;
}

.nbStack .nbNotebook {
    padding: 0 5px 0 65px;
}

.nbStack .nbNotebook.nbLinkedNotebook, .nbStack .nbNotebook.nbBusinessNotebook {
    background-position: 35px 50%;
}

.nbStack .nbNotebook.nbSelectedNotebook {
    background-position: calc(100% - 5px) 50%;
    padding: 0 18px 0 65px;
}

.nbStack .nbNotebook.nbLinkedNotebook.nbSelectedNotebook {
    background-position: 35px 50%, calc(100% - 5px) 50%;
}

.nbStack .nbNotebook.nbBusinessNotebook.nbSelectedNotebook {
    background-position: 35px 50%, calc(100% - 5px) 50%;
}

@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5) {
    .nbSelected {
        background-image: url(../../images/notebook_global_tools@2x.png), url(../../images/dropdown_down_icon@2x.png);
    }

    .nbContainer.nbOpen .nbSelected {
        background-image: url(../../images/notebook_global_tools@2x.png), url(../../images/dropdown_up_icon@2x.png);
    }

    .nbSelected.nbSelectedBusiness {
        background-image: url(../../images/notebook_business_global_tools@2x.png), url(../../images/dropdown_down_icon@2x.png);
    }

    .nbContainer.nbOpen .nbSelected.nbSelectedBusiness {
        background-image: url(../../images/notebook_business_global_tools@2x.png), url(../../images/dropdown_up_icon@2x.png);
    }

    .nbSelected.nbSelectedLinked {
        background-image: url(../../images/notebook_linked_global_tools@2x.png), url(../../images/dropdown_down_icon@2x.png);
    }

    .nbContainer.nbOpen .nbSelected.nbSelectedLinked {
        background-image: url(../../images/notebook_linked_global_tools@2x.png), url(../../images/dropdown_up_icon@2x.png);
    }

    .nbSelected.nbLoading {
        background-image: url(../../images/notebook_loading@2x.gif), url(../../images/dropdown_down_icon@2x.png);
    }

    .nbContainer.nbOpen .nbSelected.nbLoading {
        background-image: url(../../images/notebook_loading@2x.gif), url(../../images/dropdown_up_icon@2x.png);
    }

    .nbSearchInput {
        background-image: url(../../images/search@2x.png);
    }

    .nbNotebook.nbSelectedNotebook, .nbList.nbSearchOn .nbStack .nbNotebook.nbSelectedNotebook {
        background-image: url(../../images/notebook_checkmark@2x.png);
    }

    .nbNotebook.nbLinkedNotebook {
        background-image: url(../../images/linked@2x.png);
    }

    .nbNotebook.nbLinkedNotebook.nbSelectedNotebook, .nbList.nbSearchOn .nbStack .nbNotebook.nbLinkedNotebook.nbSelectedNotebook {
        background-image: url(../../images/linked_selected@2x.png), url(../../images/notebook_checkmark@2x.png);
    }

    .nbNotebook.nbBusinessNotebook.nbSelectedNotebook, .nbList.nbSearchOn .nbStack .nbNotebook.nbBusinessNotebook.nbSelectedNotebook {
        background-image: none, url(../../images/notebook_checkmark@2x.png);
    }

    .nbStack h3 {
        background-image: url(../../images/stack@2x.png);
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotating 2s linear infinite;
}
