#evernoteClipperResult {
    animation-duration: 300ms !important;
    animation-name: fadein !important;
    height: 100% !important;
    left: auto !important;
    right: 20px !important;
    top: 20px !important;
    width: 456px !important;
    border: none !important;
    z-index: 2147483647 !important;
    user-select: none !important;
    position: fixed !important;
    visibility: visible !important;
    bottom: auto !important;
    margin: 0 !important;
    max-height: none !important;
    min-height: 0 !important;
    max-width: none !important;
    min-width: 0 !important;
    padding: 0 !important;
    outline: invert none medium !important;
    vertical-align: baseline !important;
    resize: none !important;
    box-sizing: content-box !important;
    box-shadow: none !important;
    display: block !important;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#evernoteClipperResult.evernoteClipperHide {
    animation-name: fadeout !important;
    opacity: 0;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
