#reminders {
    background-image: url(../../images/reminder.png);
    background-size: 19px 21px;
    cursor: pointer;
    height: 21px;
    position: relative;
    width: 19px;
}

#reminders.added {
    background-image: url(../../images/reminder_active.png);
}

#reminders.changingDate:after {
    background-image: url(../../images/reminders_arrow.png);
    background-size: 18px 8px;
    content: "";
    height: 8px;
    left: 1px;
    position: absolute;
    top: 24px;
    width: 18px;
}

#remindersSetter {
    background-color: #ECECEC;
    border: 1px solid #AFAFAF;
    border-radius: 4px;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.3);
    color: #4C4C4C;
    height: 53px;
    opacity: 0;
    overflow: hidden;
    padding: 15px 8px 8px 8px;
    pointer-events: none;
    position: absolute;
    top: 81px;
    transition: opacity 300ms ease, height 200ms ease, width 200ms ease;
    animation-fill-mode: both;
    animation-timing-function: ease;
    animation-duration: 300ms;
    width: 112px;
    z-index: 1;
}

#remindersSetter.visible {
    opacity: 1;
    pointer-events: auto;
    animation-name: pulse;
}

@keyframes pulse {
    0% {
        transform: scale(0.3);
    }
    33% {
        transform: scale(1.3);
    }
    67% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

#remindersSetter.hasDate #noDate {
    display: none;
}

#remindersSetter.hasDate #hasDate {
    display: block;
}

#remindersSetter.hasDate {
    height: 314px;
    padding: 12px;
    width: 166px;
}

.reminderHeader {
    font-family: "GothamBold", Helvetica, Arial, sans-serif;
    text-align: center;
    text-shadow: 0 1px white;
}

.reminderButton, #date {
    background-color: #FAFAFA;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    font-family: "GothamMedium", Helvetica, Arial, sans-serif;
    font-size: 11px;
    text-shadow: none;
}

.reminderButton {
    cursor: pointer;
    line-height: 26px;
    overflow: hidden;
    white-space: nowrap;
}

#addDate {
    background-image: url(../../images/calendar.png);
    background-position: 10px 50%;
    background-size: 21px 17px;
    margin-top: 10px;
    padding-left: 36px;
    padding-right: 7px;
}

#hasDate {
    display: none;
}

#hasDate .reminderButton {
    text-align: center;
}

#tomorrow {
    margin-top: 11px;
}

#nextWeek {
    margin-top: 4px;
}

#date {
    line-height: 20px;
    margin: 4px 0 8px 0;
    padding: 0 6px;
    width: calc(100% - 14px);
}

#date span {
    border: 1px solid transparent;
    border-radius: 3px;
}

#date span.focused {
    background-color: #E7EDF1;
    border: 1px solid #B7C3CB;
}

#datePicker {
    background-color: #FAFAFA;
    border: 1px solid #D2D2D2;
    border-radius: 3px;
    text-shadow: none;
}

@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5) {
    #reminders {
        background-image: url(../../images/reminder@2x.png);
    }

    #reminders.added {
        background-image: url(../../images/reminder_active@2x.png);
    }

    #reminders.changingDate:after {
        background-image: url(../../images/reminders_arrow@2x.png);
    }

    #addDate {
        background-image: url(../../images/calendar@2x.png);
    }
}