body {
    background-color: #2F373D;
    display: none;
    margin: 0;
}

body.email, body.url {
    display: block;
}

#title {
    color: white;
    font-family: CaeciliaItalic;
    font-size: 15px;
    line-height: 56px;
    margin: 0;
    overflow: hidden;
    padding: 0 24px;
    text-overflow: ellipsis;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    white-space: nowrap;
}

hr {
    border-top: 1px solid #21262C;
    border-right: none;
    border-bottom: 1px solid #495865;
    border-left: none;
    margin: 0 12px;
}

#email, #url {
    display: none;
    font-family: GothamMedium;
    padding: 0 24px;
    position: relative;
}

body.email #email, body.url #url {
    display: block;
}

/* email */
label {
    color: #8A98A2;
    cursor: default;
    font-size: 12px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

#email label {
    margin: 17px 0 6px 0;
}

#recipients, #message, #shareLink {
    background-color: #FAFAFA;
    border: none;
    border-radius: 2px;
    color: #2F373D;
    font-size: 12px;
    display: block;
    outline: none;
    padding: 5px 7px;
    width: 100%;
}

#recipients::-webkit-input-placeholder,
#recipients::-moz-placeholder,
#message::-webkit-input-placeholder,
#message::-moz-placeholder {
    color: #99A5AD;
}

#recipients, #shareLink {
    height: 24px;
}

#contacts {
    background-color: #BBCBD5;
    border-radius: 2px;
    padding: 3px 0;
    position: absolute;
    top: 72px;
}

#contacts:before {
    border-top: none;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #BBCBD5;
    border-left: 6px solid transparent;
    content: "";
    left: 8px;
    position: absolute;
    top: -8px;
}

#contacts:empty:before {
    display: none;
}

.contact {
    box-sizing: border-box;
    color: #2F373D;
    cursor: pointer;
    font-size: 12px;
    line-height: 22px;
    max-width: 342px;
    overflow: hidden;
    padding: 0 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contact:hover {
    background-color: #4CA4E6;
    color: white;
}

#message {
    height: 96px;
    margin: 20px 0 16px 0;
}

#send, #copy {
    border: none;
    float: right;
    font-size: 14px;
    margin: 0;
    outline: none;
}

#send {
    padding: 8px 44.5px;
}

#send.disabled {
    background-color: #8A98A2;
    box-shadow: inset 0 1px 0 0 #B3C1CC;
    cursor: not-allowed;
}

/* url */
#url label {
    background-image: url(../../images/url-copied.png);
    background-position: 0 50%;
    background-size: 15px 14px;
    margin: 15px 0 8px 0;
    padding: 0 0 0 20px;
    visibility: hidden;
}

body.urlCopied #url label {
    visibility: visible;
}

#shareLink {
    margin: 0 0 20px 0;
}

#copy {
    padding: 8px 19px;
}

@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5) {
    #url label {
        background-image: url(../../images/url-copied@2x.png);
    }
}