body {
    margin: 0;
}

#main {
    background-clip: content-box;
    background-color: #2F373D;
    border: 2px solid rgba(34, 40, 44, 0.38);
    border-radius: 4px;
    height: 464px;
    width: 486px;
}

#main > * {
    text-align: center;
}

#evernoteLogo {
    background-image: url(../../images/web-clipper-logo.png);
    background-size: 170px 36px;
    height: 36px;
    margin: 22px auto;
    width: 170px;
}

#close {
    background-image: url(../../images/close-feedback.png);
    background-size: 12px;
    cursor: pointer;
    height: 12px;
    position: absolute;
    right: 10px;
    width: 12px;
    top: 10px;
}

#header {
    color: #4DBDCB;
    font-family: CaeciliaBold, Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding-bottom: 7px;
}

#details {
    color: white;
    font-family: GothamMedium, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding: 0 40px 16px 40px;
}

#salesforceLogo {
    background-color: white;
    background-image: url(../../images/salesforce.png);
    background-position: 50%;
    background-size: 149px 137px;
    height: 188px;
}

#buttons {
    margin-top: 24px;
}

#noShow, #showMore {
    cursor: pointer;
    display: inline-block;
    font-family: GothamMedium, Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#noShow {
    color: #A5B1BA;
    margin-right: 19px;
    text-decoration: underline;
}

#showMore {
    background-color: #26B064;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 0 #33CC78;
    color: white;
    line-height: 32px;
    margin-left: 19px;
    padding: 0 17px;
}

@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5) {
    #evernoteLogo {
        background-image: url(../../images/web-clipper-logo@2x.png);
    }

    #close {
        background-image: url(../../images/close-feedback@2x.png);
    }

    #salesforceLogo {
        background-image: url(../../images/salesforce@2x.png);
    }
}