@font-face {
    font-family: "GothamLight";
    src:   format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "GothamLight";
    src:   format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "GothamBook";
    src:   format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GothamBook";
    src:   format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "GothamMedium";
    src:   format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "GothamMedium";
    src:   format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "GothamBold";
    src:   format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "GothamBold";
    src:   format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "caecilia";
    src:   format('woff');
    font-weight: normal;
    font-style: normal;
}

/* for clearly top sites */
@font-face {
    font-family: "Gotham";
    src:   format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src:   format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src:   format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Gotham";
    src:   format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Caecilia";
    font-weight: 700;
    font-style: normal;
    src:   format('woff');
}
