mps-youtube/*
qutebrowser/*
!gtk-2.0/
!gtk-3.0/
!compton/
!alacritty/
!cava/
!dunst/
!qutebrowser
!mps-youtube/config
!mps-youtube/transcode

!bat/
!xmobar/
!neofetch/
!zathura/
!redshift.conf
!starship.toml
