kak/*
mps-youtube/*
qutebrowser/*
!kak/kakrc
!kak/eslint-kakoune.js
!gtk-2.0/
!gtk-3.0/
!compton/
!alacritty/
!cava/
!nvim/
!rtv/
!dunst/
!ranger
!qutebrowser
!mps-youtube/config
!mps-youtube/transcode
!coc/

!xmobar/
!neofetch/
!rofi
!zathura/
!redshift.conf
!starship.toml
