body {
    margin: 0;
}

#main {
    background-clip: content-box;
    background-color: #2F373D;
    border: 2px solid rgba(34, 40, 44, 0.38);
    border-radius: 5px;
    font-family: "GothamMedium", Helvetica, Arial, sans-serif;
    font-size: 11px;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
}

#main > *:not(#close) {
    margin-left: 25px;
    margin-right: 25px;
}

#close {
    background-image: url(../../images/close-feedback.png);
    background-size: 12px 12px;
    cursor: pointer;
    height: 12px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 12px;
}

#logo {
    background-image: url(../../images/web-clipper-logo2.png);
    background-size: 200px 40px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 18px;
    width: 200px;
}

body.china #logo {
    background-image: url(../../images/web-clipper-logo-china2.png);
    background-size: 88px 47px;
    height: 47px;
    margin-bottom: 11px;
    width: 88px;
}

#systemInfo {
    background-color: #262C31;
    border: 1px solid #232A30;
    border-radius: 3px;
    color: #70787F;
    margin-bottom: 14px;
    padding: 5px;
}

#title, #details {
    background-color: #EAF0F5;
    border: 1px solid #232A30;
    border-radius: 3px;
    color: #70787F;
    display: block;
    margin-bottom: 14px;
    outline: none;
    padding: 0 6px;
    width: calc(100% - 50px);
}

#title::-webkit-input-placeholder,
#title::-moz-placeholder,
#details::-webkit-input-placeholder,
#details::-moz-placeholder {
    color: #70787F;
}

#title {
    height: 28px;
}

#details {
    height: 148px;
    padding: 6px;
}

#ratingContainer {
    height: 26px;
    margin-bottom: 12px;
}

#rateQuestion {
    color: #C2CFD7;
    overflow: hidden;
}

#rating {
    background-color: #EAF0F5;
    float: right;
    padding: 0 0 0 8px;
    width: 42px;
}

#send {
    background-color: #26B064;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 0 #33CC78;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "GothamBold", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    padding: 1px 22px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#send:hover {
    background-color: #26C66E;
}

#send:active {
    background-color: #26B064;
    box-shadow: inset 0 0 8px 3px rgba(2, 52, 24, 0.3);
}

@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5) {
    #close {
        background-image: url(../../images/close-feedback@2x.png);
    }

    #logo {
        background-image: url(../../images/web-clipper-logo2@2x.png);
    }

    body.china #logo {
        background-image: url(../../images/web-clipper-logo-china2@2x.png);
    }
}