.evernoteTooltip {
    border: none !important;
    bottom: auto !important;
    box-shadow: none !important;
    box-sizing: content-box !important;
    margin: 0 !important;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    opacity: 0 !important;
    outline: invert none medium !important;
    padding: 0 !important;
    resize: none !important;
    vertical-align: baseline !important;
    visibility: visible !important;
    animation-duration: 0s !important;
    transition: opacity 300ms !important;
    user-select: none !important;
    z-index: 2147483647 !important;
}

.evernoteTooltip.evernoteTooltipShow {
    opacity: 1 !important;
}

#evernoteSSOProgress {
    height: 100% !important;
    left: auto !important;
    position: fixed !important;
    right: 0 !important;
    top: 0 !important;
    width: 100% !important;
}

#evernoteGmail {
    height: 159px !important;
    left: auto !important;
    position: fixed !important;
    right: 30px !important;
    top: 30px !important;
    width: 316px !important;
}

#evernotePdfTooltip {
    height: 173px !important;
    left: auto !important;
    position: fixed !important;
    right: 30px !important;
    top: 30px !important;
}

#evernotePdfTooltip.evernotePermanent {
    bottom: 0px !important;
    height: 41px !important;
    right: 54px !important;
    top: auto !important;
}

#evernotePdfTooltip.safarievernotePermanent {
    bottom: 73px !important;
}

#evernoteWSJTooltip {
    height: 264px !important;
    width: 364px !important;
}

#evernoteCustomTooltip {
    height: 100% !important;
    left: auto !important;
    position: fixed !important;
    right: 20px !important;
    top: 20px !important;
    width: 310px !important;
}
