body {
    margin: 0;
}

body.ssoInProgress {
    background-color: rgba(0, 0, 0, 0.27);
    font-size: 12px;
}

#main {
    background-clip: content-box;
    background-color: #3C454C;
    border: 2px solid rgba(34, 40, 44, 0.38);
    border-radius: 5px;
}

body.ssoInProgress #main {
    position: fixed;
    right: calc(50% - 185px);
    top: calc(50% - 89px);
    width: 370px;
}

#main > * {
    margin-left: 13px;
    margin-right: 13px;
}

#logo {
    background-image: url(../../images/web-clipper-logo.png);
    background-size: 170px 36px;
    height: 36px;
    margin-top: 16px;
    width: 170px;
}

body.china #logo {
    background-image: url(../../images/web-clipper-logo-china.png);
    background-size: 88px 45px;
    height: 45px;
    width: 88px;
}

body.ssoInProgress #logo {
    display: none;
}

body.customTooltip #logo {
    margin: 20px auto 0;
}

#close {
    background-image: url(../../images/close_login.png);
    background-size: 8px 8px;
    cursor: pointer;
    height: 8px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 8px;
}

body.customTooltip #close {
    background-image: url(../../images/close-sidebar.png);
    background-size: 14px;
    height: 14px;
    width: 14px;
}

.body {
    display: none;
}

body.ssoInProgress #ssoInProgress,
body.gmailTooltip #gmailTooltip, body.googleInboxTooltip #googleInboxTooltip, body.outlookTooltip #outlookTooltip, body.office365InboxTooltip #office365InboxTooltip, body.pdfTooltip #pdfTooltip,
body.customTooltip #customTooltip {
    display: block;
}

body.ssoInProgress #ssoInProgress {
    margin: 23px 30px;
}

body.customTooltip #customTooltip {
    text-align: center;
}

.header {
    color: #4DBDCB;
    font-family: "CaeciliaBold", Times, serif;
    font-size: 13px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

body.ssoInProgress #ssoInProgress .header {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: none;
}

body.customTooltip #customTooltip .header {
    color: white;
    font-family: GothamMedium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-shadow: none;
}

.details {
    color: #C2CFD7;
    font-family: "GothamMedium", Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    line-height: 18px;
}

body.ssoInProgress #ssoInProgress .details {
    color: white;
    text-shadow: none;
}

#gmailTooltip .details, #googleInboxTooltip .details, #outlookTooltip .details, #office365InboxTooltip .details, #pdfTooltip .details {
    font-family: "GothamBook", Helvetica, Arial, sans-serif;
    margin: 12px 0;
    text-shadow: 0 1px 1px rgb(10, 26, 38);
}

#customTooltip .details {
    color: white;
    font-family: GothamLight, Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-shadow: none;
}

.button {
    background-color: #26B064;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 0 #33CC78;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "GothamBold", Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.button:hover {
    background-color: #26C66E;
}

.button:active {
    background-color: #26B064;
    box-shadow: inset 0 0 8px 3px rgba(2, 52, 24, 0.3);
}

.button.gray, .button.gray:hover, .button.gray:active {
    background-color: #5B6871;
    box-shadow: inset 0 1px #6B7A86;
}

#ssoInProgress .button {
    line-height: 31px;
    margin-top: 19px;
    padding: 0 28px;
    text-shadow: none;
}

#ssoInProgress .button:first-child {
    margin-right: 4px;
}

#ssoInProgress .button:last-child {
    margin-left: 4px;
}

#ssoInProgress .buttons {
    text-align: center;
}

#customTooltip .button {
    font-size: 12px;
    line-height: 32px;
    margin-top: 30px;
    padding: 0 50px;
}

#gmailButton, #googleInboxButton, #outlookTooltipButton, #office365InboxTooltipButton, #pdfButton {
    margin: 0 0 16px 0;
    padding: 6px 12px;
}

#customTooltip {
    margin: 30px;
}

body.pdfTooltip.permanent #logo, body.pdfTooltip.permanent #close, body.pdfTooltip.permanent .details {
    display: none;
}

body.pdfTooltip.permanent #main {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

body.pdfTooltip.permanent #pdfButton {
    background-color: #F2F2F2;
    border-radius: 100px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    color: #3b4446;
    float: right;
    font-family: GothamMedium, Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0 2px;
    padding: 10.5px 5pt;
    text-shadow: none;
}

body.pdfTooltip.permanent #pdfTooltip {
    margin: 0;
}

@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5) {
    #logo {
        background-image: url(../../images/web-clipper-logo@2x.png);
    }

    body.china #logo {
        background-image: url(../../images/web-clipper-logo-china@2x.png);
    }

    #close {
        background-image: url(../../images/close_login@2x.png);
    }

    body.customTooltip #close {
        background-image: url(../../images/close-sidebar@2x.png);
    }
}
