!-------------------------------------------
! XFT Settings 
     
Xft.antialias:  true 
Xft.autohint:   false 

!--------------------------------------------

*termname: st-256color

! Need full path here
/* #include "/home/qwerty/.dotfiles/colors/dracula" */ 
#include "/home/qwerty/Public/themes/xresources/xresources/base16-material-darker-256.Xresources" 

! --- background
*dwm.colgray1: base00
*dwm.colgray2: base02
/* *dwm.colgray1: #161821 */
/* *dwm.colgray2: #d2d4de */
 
! --- foreground
*dwm.colgray3: base05
*dwm.colgray4: base00
/* *dwm.colgray3: #d2d4de */
/* *dwm.colgray4: #161821 */

! --- borders and such
*dwm.colcyan: base0C
/* *dwm.colcyan: #b4be82 */

