!--------------------------------------------
! General Colors

! maybe need full path here
! #include "/home/qwerty/.colors/dracula"

!-------------------------------------------
! Man pages colors

! *VT100.colorBDMode:                  true
! *VT100.colorBD:                      red
! *VT100.colorULMode:                  true
! *VT100.colorUL:                      cyan   
! *VT100.veryBoldColors:               6

