!-------------------------------------------
! XFT Settings 
     
Xft.antialias:  true 
Xft.autohint:   false 

!--------------------------------------------

*termname: st-256color

! Need full path here
/* #include "/home/qwerty/.dotfiles/colors/dracula" */ 
#include "/home/qwerty/Public/themes/xresources/xresources/base16-material-darker-256.Xresources" 

dmenu.selforeground:	    #FFFFFF
dmenu.background:	        #000000
dmenu.selbackground:	    #0C73C2
dmenu.foreground:	        #A0A0A0a
/* ! --- background */
/* *dwm.colgray1: base00 */
/* *dwm.colgray2: base02 */
/* /1* *dwm.colgray1: #161821 *1/ */
/* /1* *dwm.colgray2: #d2d4de *1/ */
 
/* ! --- foreground */
/* *dwm.colgray3: base05 */
/* *dwm.colgray4: base00 */
/* /1* *dwm.colgray3: #d2d4de *1/ */
/* /1* *dwm.colgray4: #161821 *1/ */

/* ! --- borders and such */
/* *dwm.colcyan: base0C */
/* /1* *dwm.colcyan: #b4be82 *1/ */

