spotify
vivaldi
termite
silentcast_presets
qt5ct
workshopper
google-chrome
dconf
gconf
configstore
chromium
VirtualBox
UNDERTALE
oomox
pulse
mps-youtube
inkscape
systemd
mimeapps.list
cmus
rtv

!qutebrowser
!rtv/themes/dracula
